# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Node / Build
# =========================
node_modules/
dist/
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# CodeIgniter runtime
# =========================
application/cache/*
application/logs/*
!application/cache/.gitkeep
!application/logs/.gitkeep

# =========================
# IDE / Editor
# =========================
.idea/
.vscode/
.nbproject/

# =========================
# Editor cache
# =========================
*.sublime-workspace
*.sublime-project
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
