@tailwind base;
@tailwind components;
@tailwind utilities;

/* Components */
@import './components/button.css';
@import './components/input.css';
@import './components/form.css';
@import './components/table.css';
@import './components/metric.css';
@import './components/state.css';
@import './components/skeleton.css';

/* Layouts */
@import './layouts/admin.css';
@import './layouts/spacing.css';
@import './layouts/sidebar.css';
@import './layouts/page.css';